<!DOCTYPE html>
<html ng-app="app">
    <head>
        <link rel="stylesheet" href="css/bootstrap.css" type="text/css" />
        <link rel="stylesheet" href="css/site.css" type="text/css" />
        <script src="js/lib/angular.min.js" type="text/javascript"></script>
        <script src="js/app.js" type="text/javascript"></script>
        <title>My Test Registration Page</title>
    </head>
    <body ng-controller="RegistrationController">
        <div>
            <form name="registrationForm">
                <label>First Name:</label>
                    <input type="text" 
                        name="firstName" 
                        id="firstName" 
                        ng-model="firstname"
                        ng-maxlength="10"
                        required>
                <span class="error" ng-show="registrationForm.firstName.$error.required">First Name is required.</span>
                <span class="error" ng-show="registrationForm.firstName.$error.maxlength">First Name should not exceed 10 characters.</span>
                <br>
                <label>Second Name:</label>
                    <input type="text" 
                        name="lastName" 
                        id="lastName" 
                        ng-model="lastname"
                        ng-maxlength="15"
                        required>
                    <span class="error" ng-show="registrationForm.lastName.$error.required">Second Name is required.</span>
                    <span class="error" ng-show="registrationForm.lastName.$error.maxlength">Second Name should not exceed 15 characters.</span>
                <br>
                <label>Email:</label>
                    <input type="email" 
                        name="email" 
                        id="email"
                        ng-model="email">
                    <span class="error" ng-show="registrationForm.email.$error.email">Please enter a valid e-mail address.</span>
                <br>
                <label>User Name:</label>
                    <input type="text" 
                        name="userName" 
                        id="userName" 
                        ng-model="username"
                        maxlength="5"
                        required>
                    <span class="error" ng-show="registrationForm.userName.$error.required">User Name is required.</span>
                <br>
                <label>Password:</label>
                    <input type="password" 
                        name="password" 
                        id="password" 
                        ng-model="password"
                        required>
                    <span class="error" ng-show="registrationForm.password.$error.required">Please enter a password.</span>
                <br>
                <label>Re-enter Password:</label>
                    <input type="password" 
                        name="repeatPassword" 
                        id="repeatPassword" 
                        ng-model="repeatpassword"
                        required>
                    <span class="error" ng-show="registrationForm.repeatPassword.$error.required">Please re-enter password.</span>
                    <span class="error" ng-show="isNotEqual(password,repeatpassword)">Password entries do not match.</span>
                <br>
                <input type="submit" 
                    value="Submit" 
                    ng-disabled="registrationForm.firstName.$invalid || 
                            registrationForm.lastName.$invalid || 
                            registrationForm.email.$invalid || 
                            registrationForm.userName.$invalid || 
                            registrationForm.password.$invalid ||
                            isNotEqual(password,repeatpassword)" 
                    ng-click="registerUser(firstname,lastname,email,username,password)">
                <span class="info" ng-show="filePath !== ''">Registration successful! (<a href={{filePath}}>{{filePath}}</a>)</span>
                <span class="error" ng-show="errorResult !== ''">Unable to register user.  Details cannot be saved: {{errorResult}}</span>
            </form>
        </div>
    </body>
</html>